<div class="bg-image mt-3" style="max-width: 150rem;">
  <img src="https://home.iitd.ac.in/images/footer-bg.jpg"  class="d-block w-100 h1"  height="400rem" />
  <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5) " >
    <h4> </h4>
    <p class="m-0"> </p>
  </div>
</div>

<footer style="background-color: black">
 
  <div class="container text-center " >
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col mt-4">
        <img src="https://www.smvdu.ac.in/templates/jsmvdu2017/img/bklogo-header.png" style="height: 40%; width: 30%;" alt="">
      </div>
      <div class="col mt-4">
        <ul>
       <li style="border: 2px solid white; border-radius: 3em; background-color: white; color: black;"> Quick Links</li>
       <li> Departments</li>
       <li> Centres</li>
       <li> Schools</li>
       <li> Centres of Excellence</li>
       <li> Right to Information</li>
</ul>
      </div>
      <div class="col mt-4">
        <li style="border: 2px solid white; border-radius: 3em; background-color: white; color: black;">Explore</li>
       <li>Rules</li>
       <li>Campus Life</li>
       <li>Institute Newsletter</li>
       <li>Educational Programmes</li>
       <li>PhD Seminar</li>
       <li>Climate Action Plan</li>
       <li>Contact Us</li>
      </div>
      <div class="col mt-4">
        <li style="border: 2px solid white; border-radius: 3em; background-color: white; color: black;">Social Links</li>
        <li><i class="fa-brands fa-twitter fa-2x"style="color: white "></i></li>
        <li><i class="fa-brands fa-youtube fa-2x"style="color: white "></i></li>
        <li><i class="fa-brands fa-facebook fa-2x"style="color: white "></i></li>
        <li><i class="fa-brands fa-instagram fa-2x"style="color: white "></i></li>
      </div>
    </div>
  </div>
  </footer>  
</body>
</html>