<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#"></a> -->
      <img src="https://www.smvdu.ac.in/templates/jsmvdu2017/img/bklogo-header.png" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse container"  id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-family: cursive;">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/pathway">Pathway</a>
          <a class="nav-link" href="/whatnext">What Next?</a>
          <a class="nav-link" href="/comments">FAQ's</a>
         
        </div>
        <!-- <div class="navbar-nav" style="font-family: cursive; position: relative; right:2">
          <a class="nav-link" href="/comments">Login</a>
          <a class="nav-link" href="/comments">SignIn</a>
        </div> -->
      </div>
    </div>
  </nav>
