<%- include('partials/head')%>

    <%- include('partials/navbar') %>

    <h1 class="container text-center text-primary mt-4 mb-4">Pathways</h1>

    <div class="container text-center">
        <div class="row row-cols-3">

          <div class="col">
            <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">C++</h5> -->
                  <img src="https://logicoretech.com/wp-content/uploads/2022/05/Python-Symbol.png" class="card-img-top" alt="...">
                  <p class="card-text">Python is a high-level, general-purpose programming language. Its design philosophy emphasizes
                    code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.
                    It supports multiple programming paradigms, including structured, object-oriented and functional programming.
                    Designed by: Guido van Rossum</p>
                    <a href="/r/cpp" class="btn btn-primary">LEARN</a>
                </div>
              </div>
          </div>


          <div class="col">
            <div class="card">
                <div class="card-body">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS83EQ2Mjvdgj0POZKKsQQvuij9OxTBeCGtfQ&usqp=CAU" class="card-img-top" alt="...">
                  <p class="card-text">C++ is one of the world's most popular programming languages.
                    C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems.
                    C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused, lowering development costs.
                    C++ is portable and can be used to develop applications that can be adapted to multiple platforms.
                    C++ is fun and easy to learn!</p>
                    <a href="/r/cpp" class="btn btn-primary">LEARN</a>
                </div>
              </div>
          </div>


          <div class="col">
            <div class="card">
                <div class="card-body">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStJNbZWAb0k5fhSc3i7zJJnpp7W7EiVSmfzA&usqp=CAU" class="card-img-top" alt="...">
                  <p class="card-text">Java is a programming language and a platform. Java is a high level, robust, object-oriented and secure programming language.Java was developed by Sun Microsystems (which is now the subsidiary of Oracle) in the year 1995. James Gosling is known as the father of Java. Before Java, its name was Oak. Since Oak was already a registered company, so James Gosling and his team changed the name from Oak to Java. </p>
                    <a href="/r/java" class="btn btn-primary">LEARN</a>
                </div>
              </div>
          </div>


        </div>
      </div>

<%- include('partials/footer') %>
