<%- include('partials/head')%>

    <%- include('partials/navbar') %>

    <h1 class="container text-center text-primary mt-4 mb-4">Pathways</h1>

    <div class="container text-center">
        <div class="row row-cols-3">
          <div class="col">
            <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">C++</h5> -->
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS83EQ2Mjvdgj0POZKKsQQvuij9OxTBeCGtfQ&usqp=CAU" class="card-img-top" alt="...">
                  <p class="card-text">C++ is one of the world's most popular programming languages.
                    C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems.
                    C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused, lowering development costs.         
                    C++ is portable and can be used to develop applications that can be adapted to multiple platforms.    
                    C++ is fun and easy to learn!</p>
                    <a href="/pathway/cpp" class="btn btn-primary">LEARN</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">C++</h5> -->
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS83EQ2Mjvdgj0POZKKsQQvuij9OxTBeCGtfQ&usqp=CAU" class="card-img-top" alt="...">
                  <p class="card-text">C++ is one of the world's most popular programming languages.
                    C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems.
                    C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused, lowering development costs.         
                    C++ is portable and can be used to develop applications that can be adapted to multiple platforms.    
                    C++ is fun and easy to learn!</p>
                    <a href="/pathway/cpp" class="btn btn-primary">LEARN</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">C++</h5> -->
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS83EQ2Mjvdgj0POZKKsQQvuij9OxTBeCGtfQ&usqp=CAU" class="card-img-top" alt="...">
                  <p class="card-text">C++ is one of the world's most popular programming languages.
                    C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems.
                    C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused, lowering development costs.         
                    C++ is portable and can be used to develop applications that can be adapted to multiple platforms.    
                    C++ is fun and easy to learn!</p>
                    <a href="/pathway/cpp" class="btn btn-primary">LEARN</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">C++</h5> -->
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS83EQ2Mjvdgj0POZKKsQQvuij9OxTBeCGtfQ&usqp=CAU" class="card-img-top" alt="...">
                  <p class="card-text">C++ is one of the world's most popular programming languages.
                    C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems.
                    C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused, lowering development costs.         
                    C++ is portable and can be used to develop applications that can be adapted to multiple platforms.    
                    C++ is fun and easy to learn!</p>
                    <a href="/pathway/cpp" class="btn btn-primary">LEARN</a>
                </div>
              </div>
          </div>
         
       
        </div>
      </div>
    
<%- include('partials/footer') %>
