<%- include('partials/head') %>
<%- include('partials/navbar') %>




<div class="container text-center mt-4 .bg-dark">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0001.jpg" style="width: 50%;;" alt="where is the image">
</div>
<div class="container text-center">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0002.jpg" style="width: 50%;;" alt="where is the image">
</div>
<div class="container text-center">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0003.jpg" style="width: 50%;;" alt="where is the image">
</div>
<div class="container text-center">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0004.jpg" style="width: 50%;;" alt="where is the image">
</div>
<div class="container text-center">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0005.jpg" style="width: 50%;;" alt="where is the image">
</div>
<div class="container text-center">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0006.jpg" style="width: 50%;;" alt="where is the image">
</div>
<div class="container text-center">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0007.jpg" style="width: 50%;;" alt="where is the image">
</div>
<div class="container text-center">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0008.jpg" style="width: 50%;;" alt="where is the image">
</div>
<div class="container text-center">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0009.jpg" style="width: 50%;;" alt="where is the image">
</div>
<div class="container text-center">
<img src="https://site-916324.mozfiles.com/files/916324/20800425cbcb46468b31733ce66e0492-0010.jpg" style="width: 50%;;" alt="where is the image">
</div>






 <%- include('partials/footer') %>

<!-- </body>
</html> -->
