<%- include('../partials/head')%>

    <%- include('../partials/navbar') %>

    <h1 class="container text-center mt-4 text-primary">LETS LEARN C++</h1>
    <p class="container">C++, developed by Bjarne Stroustrup, is a general-purpose programming language and is considered an advanced version of the C programming language. It offers rich library support in the form of a Standard Template Library. The language is widely used in various GUI platforms, Cloud/Distributed Systems, Operating Systems, real-time simulations, etc. Moreover, as C++ is an object-oriented programming language, it allows you to implement real-time problems through OOPS concepts. </p>
<div class="container">
   <b> 1. Introduction to C++ Programming (Day: 1) </b>
Needless to say, you’re required to start learning C++ programming language with the introduction and fundamentals of the language. You need to understand the features of the C++ language, and what are its applications. Furthermore, you’re required to know how to set up an environment to compile & run your C++ program. You can create your first C++ program as well for more clarification of the fundamentals. Meanwhile, you can explore several other related topics such as the difference b/w C & C++, C++ vs JAVA, etc.
</div>
<div class="container">
   <b> 1. Introduction to C++ Programming (Day: 1) </b>
Needless to say, you’re required to start learning C++ programming language with the introduction and fundamentals of the language. You need to understand the features of the C++ language, and what are its applications. Furthermore, you’re required to know how to set up an environment to compile & run your C++ program. You can create your first C++ program as well for more clarification of the fundamentals. Meanwhile, you can explore several other related topics such as the difference b/w C & C++, C++ vs JAVA, etc.
</div>
<div class="container">
   <b> 1. Introduction to C++ Programming (Day: 1) </b>
Needless to say, you’re required to start learning C++ programming language with the introduction and fundamentals of the language. You need to understand the features of the C++ language, and what are its applications. Furthermore, you’re required to know how to set up an environment to compile & run your C++ program. You can create your first C++ program as well for more clarification of the fundamentals. Meanwhile, you can explore several other related topics such as the difference b/w C & C++, C++ vs JAVA, etc.
</div>
<div class="container">
   <b> 1. Introduction to C++ Programming (Day: 1) </b>
Needless to say, you’re required to start learning C++ programming language with the introduction and fundamentals of the language. You need to understand the features of the C++ language, and what are its applications. Furthermore, you’re required to know how to set up an environment to compile & run your C++ program. You can create your first C++ program as well for more clarification of the fundamentals. Meanwhile, you can explore several other related topics such as the difference b/w C & C++, C++ vs JAVA, etc.
</div>
<div class="container">
   <b> 1. Introduction to C++ Programming (Day: 1) </b>
Needless to say, you’re required to start learning C++ programming language with the introduction and fundamentals of the language. You need to understand the features of the C++ language, and what are its applications. Furthermore, you’re required to know how to set up an environment to compile & run your C++ program. You can create your first C++ program as well for more clarification of the fundamentals. Meanwhile, you can explore several other related topics such as the difference b/w C & C++, C++ vs JAVA, etc.
</div>
<div class="container">
   <b> 1. Introduction to C++ Programming (Day: 1) </b>
Needless to say, you’re required to start learning C++ programming language with the introduction and fundamentals of the language. You need to understand the features of the C++ language, and what are its applications. Furthermore, you’re required to know how to set up an environment to compile & run your C++ program. You can create your first C++ program as well for more clarification of the fundamentals. Meanwhile, you can explore several other related topics such as the difference b/w C & C++, C++ vs JAVA, etc.
</div>

<div class="container"> IMPORTANTS LINKS
    <a href="https://www.geeksforgeeks.org/learn-cpp-programming-step-by-step-a-20-day-curriculum/"></a>
</div>

<div class="container">
    <iframe width="600" height="315" src="https://www.youtube.com/embed/vLnPwxZdW4Y" 
     frameborder="0" allowfullscreen></iframe>
  </div>
    
<%- include('../partials/footer') %>
